body {
	overflow-x: hidden;
	/*background: green;*/
	animation: colorRotate 60s infinite; 
	-moz-animation: colorRotate 60s infinite; 
	-webkit-animation: colorRotate 60s infinite; 
	font-size: 35px;
	color: #fff;
	font-family: 'Amatic SC', cursive;
	padding-top: 5%;
}

p {
	font-family: 'Andika', sans-serif;
	font-size: 0.4em;
}

/*Title Splash*/
.titleSplash {
	position: relative;
	width: 70%;
	padding-left: 5%;
	margin-bottom: 3%;
}

h1 {
	font-size: 5em;
	animation: textPulse 4s infinite;
}

h2 {
	font-size: 1.5em;
}

/*Search element*/
#searchWrapper {
	width: 70%;
}

#searchElement {
	position: relative;
	width: 95%;
	padding: 2% 5%;
	margin-bottom: 3%;
	background: rgba(0, 0, 0, 0.1);
	border-right: solid 10px white;
	border-bottom: solid 10px white;
	border-top: solid 10px white;
	border-radius: 0 100px 100px 0;
	transition: all 0.2s;
}

#searchBar {
	font-size: 1em;
	color: #fff;
	padding: 0.5em;
	width: 70%;
	margin-bottom: 2%;
	background: rgba(255, 255, 255, 0.3);
	border: solid 5px rgba(255, 255, 255, 1);
	border-radius: 3em 0 0 3em;
}

::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

#searchElement p {
	text-align: center;
	user-select: none;
}

#searchElement p:hover {
	opacity: 0.5;
}

#submit {
	padding: 0.5em;
	font-size: 1em;
	color: white;
	background: rgba(255, 255, 255, 0.3);
	border: solid 5px rgba(255, 255, 255, 1);
	border-radius: 0 3em 3em 0;
}

#collapseSearch {
	float: right;
	font-size: 2em;
}

/*Side bar*/
#sideBar {
	float: right;
	text-align: right;
	width: 20%;
	margin-right: 5%;
	z-index: 2;
}

/*Footer*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: inline-block;
	background: rgba(0, 0, 0, 0.3);
	text-align: right;
	user-select: none;
}

#creditMenu {
	display: none;
	position: fixed;
	right: 0;
	bottom: 1em;
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	user-select: none;
	padding: 0 0.5em;
}

.groupMember {
	border-bottom: solid 1px #fff;
}

h6 {
	font-size: 0.5em;
	padding: 0.5em 1em;
}

/*background animation*/
@keyframes colorRotate {
	0%, 100% {
		background-color: #189aa8;
	}
	20% {
		background-color: #900c3f;
	}
	40% {
		background-color: #5a7443;
	}
	60% {
		background-color: #78586f;
	}
	80% {
		background-color: #f9a824;
	}
}

@-webkit-keyframes colorRotate {
	0%, 100% {
		background-color: #189aa8;
	}
	20% {
		background-color: #900c3f;
	}
	40% {
		background-color: #5a7443;
	}
	60% {
		background-color: #78586f;
	}
	80% {
		background-color: #f9a824;
	}
}

@-moz-keyframes colorRotate {
	0%, 100% {
		background-color: #189aa8;
	}
	20% {
		background-color: #900c3f;
	}
	40% {
		background-color: #5a7443;
	}
	60% {
		background-color: #78586f;
	}
	80% {
		background-color: #f9a824;
	}
}

@keyframes textPulse {
	0%, 100% {
		text-shadow: 0 0 50px #FFF, 0 0 50px #FFF;
		opacity: 1;
	}
	50% {
		text-shadow: none;
		opacity: 0.5;
	}
}