body {
	height: 100vh;
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	color: #fff;
	animation: colorRotate 60s infinite; 
	-moz-animation: colorRotate 60s infinite; 
	-webkit-animation: colorRotate 60s infinite; 
}

.bodyWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.contentWrap {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 75%;
}

.titleSplash {
	margin-left: 5%;
}

/*search bar*/

.searchSplash {
	position: relative;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em;
	width: 75%;
	background: rgba(0,0,0,0.5);
	border-top: solid 10px #fff;
	border-bottom: solid 10px #fff;
	border-right: solid 10px #fff;
	border-radius: 0 100px 100px 0;
	z-index: 3;
}

form {
	width: 80%;
	display: inline-flex;
	justify-content: center;
}

#searchBar {
	font-size: 1em;
	color: #fff;
	padding: 0.5em;
	width: 80%;
	background: rgba(255, 255, 255, 0.3);
	border: solid 5px rgba(255, 255, 255, 1);
	border-radius: 3em 0 0 3em;
}

#submit {
	padding: 0.5em;
	font-size: 1em;
	color: #fff;
	margin-left: 0.5em;
	background: rgba(255, 255, 255, 0.3);
	border: solid 5px rgba(255, 255, 255, 1);
	border-radius: 0 3em 3em 0;
}

#collapseSearch {
	font-size: 2em;
}

::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.asideWrap {
	text-align: center;
	width: 20%;
	margin-top: 10%;
}

/*Post search content display*/
	#contentDisplay {
		position: absolute;
		top: -100%;
		left: 50%;
		transform: translateX(-50%);
		height: 85%;
		width: 80%;
		background: rgba(0, 0, 0, 0.5);
		border: solid 10px #fff;
		z-index: 2;
	}

	#contentHeadline {
		width: 80%;
		height: 2em;
		overflow: auto;
		padding: 0 10%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-bottom: solid 10px #fff;
	}

	.headlineDisplay {
		width: 100%;
		padding: 1em;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
	}

	#contentHeadline h1 {
		font-size: 2em;
	}

	#contentHeadline h2 {
		font-size: 1em;
	}

	#contentMap {
		margin: 1.25% auto;
		height: 70%;
		width: 95%;
		border: solid 5px #fff;
	}

	#contentButtons {
		border-top: solid 10px #fff;
		width: 100%;
		display: inline-flex;
		justify-content: space-evenly;
		user-select: none;
	}

/*footer elements*/
	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		text-align: right;
		background: rgba(0, 0, 0, 0.3);
	}

	#creditMenu {
		display: none;
		position: fixed;
		right: 0;
		bottom: 1em;
		background: rgba(0, 0, 0, 0.3);
		text-align: center;
		user-select: none;
		padding: 0 0.5em;
	}

	.groupMember {
		padding-top: 0.5em;
		border-bottom: solid 1px #fff;
	}

/*Font elements*/

h1 {
	font-size: 5em;
	margin-bottom: 1%;
	animation: textPulse 4s infinite;
	-webkit-animation: textPulse 4s infinite;
	-moz-animation: textPulse 4s infinite;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1em;
}

.asideWrap h2 {
/*	border-top: solid 5px #fff;*/
	margin-bottom: 1%;
	border-bottom: solid 2px #fff;
/*	border-radius: 25px 0 0 25px;*/
}

p {
	margin-top: 1em;
	margin-right: 50%;
	font-family: 'Andika', sans-serif;
	font-size: 0.4em;
}

h6 {
	font-size: 0.5em;
	padding: 0.5em 1em;
}

#contentMap {
	color: #000;
}

/*animations*/

@keyframes textPulse {
	0%, 100% {
		text-shadow: 0 0 50px #FFF, 0 0 50px #FFF;
		opacity: 1;
	}
	50% {
		text-shadow: none;
		opacity: 0.5;
	}
}

@-webkit-keyframes textPulse {
	0%, 100% {
		text-shadow: 0 0 50px #FFF, 0 0 50px #FFF;
		opacity: 1;
	}
	50% {
		text-shadow: none;
		opacity: 0.5;
	}
}

@-moz-keyframes textPulse {
	0%, 100% {
		text-shadow: 0 0 50px #FFF, 0 0 50px #FFF;
		opacity: 1;
	}
	50% {
		text-shadow: none;
		opacity: 0.5;
	}
}

/*Background color rotation*/
	@keyframes colorRotate {
		0%, 100% {
			background-color: #189aa8;
		}
		20% {
			background-color: #900c3f;
		}
		40% {
			background-color: #5a7443;
		}
		60% {
			background-color: #78586f;
		}
		80% {
			background-color: #f9a824;
		}
	}

	@-webkit-keyframes colorRotate {
		0%, 100% {
			background-color: #189aa8;
		}
		20% {
			background-color: #900c3f;
		}
		40% {
			background-color: #5a7443;
		}
		60% {
			background-color: #78586f;
		}
		80% {
			background-color: #f9a824;
		}
	}

	@-moz-keyframes colorRotate {
		0%, 100% {
			background-color: #189aa8;
		}
		20% {
			background-color: #900c3f;
		}
		40% {
			background-color: #5a7443;
		}
		60% {
			background-color: #78586f;
		}
		80% {
			background-color: #f9a824;
		}
	}

/*media queries*/

	@media (max-width: 1415px) {
		body {
			font-size: 25px;
		}
	}

	@media (max-width: 1015px) {
		#searchBar {
			font-size: 0.75em;
		}

		#submit {
			font-size: 0.75em;
		}

		#collapseSearch {
			font-size: 1em;
		}
	}

	@media (max-width: 600px) {
		.asideWrap {
			display: none;
		}

		.contentWrap {
			width: 100%;
		}

		h1 {
			font-size: 4em;
		}

		#contentHeadline h1 {
			font-size: 1em;
		}

		#contentHeadline h2 {
			font-size: 0.5em;
		}

		#contentMap {
			height: 80%;
		}
	}